body {
  background-color: #010165;
  margin: 0px;
}

.header {
  background-color: #00ffff;
  text-align: center;
}

.title-row{
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title{
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: 'Work Sans';
}

/*Note: This part is also in the responsive design course and it's how we center the content from left to right. The width has to be set so that the width doesn't take the whole entire width of the web page. */
.instructions-row{
  margin: 0 auto;
  width: 400px;
}

.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 36px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 14px;
  color: #ffffff;
}

.door-row {
 text-align: center;
}
/* Note: Properties are in CSS and are part of the CSS declaration statements(property: value)and attributes are  a part of HTML tags */
/* Also we don't have an id selector for door1, door2, or door3 but we still access it using the DOM object */
.door-frame {
  cursor: pointer;
  padding: 10px;
}

/*Here's the status/start button */
.start-row{
  margin: auto;
  width: 120px;
  height: 43px;
  font-family: 'Work Sans';
  background-color: #eb6536;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
}
